
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { 
    color:#333;
} 

main, div {
    margin: 10px; /* отступы вокруг блоков */
    padding: 20px; /* внутренние отступы для блоков */
    font-size: 20px;
}

header {
    margin: 20px; 
    padding: 30px; 
    box-shadow: 0 2px 7px rgb(224, 221, 221); 
}

h1, h2, h3 {
    color: #000000; 
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: #333;
    text-decoration: none; 
    margin: 0 15px;
}

nav a.active {
    color: #ff2600;
}

nav a:hover {
    color: #ff2600; 
}

.alert-info{
    margin-left: 80px;
}

footer {
    color: white;
    background-color:  black;  
    padding: 10px; 
    text-align: center;
    margin-top: 30px; 
}

.pagination {
    background-color: #ffffff; 
}

.pagination .page-link {
    color: #007bff; 
}

.pagination .page-link:hover {
    background-color: #e9ecef; 
    color: #0056b3; 
}

.pagination .page-item.active .page-link {
    background-color: #007bff; 
    color: white; 
}


#map {
    width: 75%; 
    height: 700px; 
}


#info {
    width: 30%; 
    padding: 10px;
    border: 1px solid #ccc;
}

.course-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #000000;
    cursor: pointer;
}

.course-item.highlight {
    background-color: #e0faee; 
}

.container {
    display: flex; 

}
.center{
    text-align: center;
}

#filter{
    text-align: right;
}

#info p{
    font-size: 15px;
}